.btn-primary:hover {
    color: white;
    background-color: #0055a4;
    border-color: #0055a4;
}

.btn {
	 background-color: #0055a4;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 7px solid transparent;
    padding: .4375rem .775rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.hed{
 font-size: 10px; 
 font-weight:900;
 letter-spacing: -1px; color: #DFBF84;
 text-transform:  uppercase; 
 text-shadow: 1px 1px 0 #000, margin: 10px 0 24px; 
 text-align: center; line-height: 50px; 
}

a:hover {
    color: #0056b3;
    /* text-decoration: underline; */
}